exportPattern("^[[:alpha:]]+")
import(lme4)
import(dplyr)
import(ggplot2)
import(magrittr)
import(simr)
import(methods)
importFrom(stats, poisson, binomial, Gamma, as.formula, median, qqnorm, qqline, cooks.distance)
importFrom(lme4, fixef)
importFrom(simr, "fixef<-")
importFrom(grDevices, png, dev.off)
importFrom(graphics, mtext)
importFrom(EnvStats, rosnerTest)
importFrom(jsonlite, fromJSON)
